
.swiper {
  width: 100%;
  height: 100%;
}

.parentSlider {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.parentSlider:hover{
  cursor: grab;
}

.parentSlider:active{
  cursor: grabbing;
}

.parentSlider img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.linkShop::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #D23F57;
  transition: .3s;
}

@media (max-width: 600px) {
  .parentSlider img {
    display: none;
  }
  }